<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="body">
        <div class="articles">

            <div *ngFor="let art of articles">

                <div class="article" [ngStyle]="{'background-color': art.isOnSale ? 'transparet' : 'rgb(255 173 154)'}">
                    <div class="row">
                        <img src={{art.imageUrl}} style="width: 20vw;">
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>{{art.name}}</label>
                        </div>
                        <div class="col">
                            <label [ngClass]="art.isOnSale ? '' : 'outOfStock'">{{art.price}}</label>
                        </div>
                    </div>
                    <div *ngIf="art.isOnSale" class="row buttons">
                        <div class="col">
                            <button class="decrease" [disabled]="art.quantityInCart <= 0 ? true : false" (click)="art.decreaseCart()">-</button>
                        </div>
                        <div class="col">
                            {{art.quantityInCart}}
                        </div>
                        <div class="col">
                            <button class="increase" (click)="art.increaseCart()">+</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>