<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="body">
        <div class="articles">

                <div class="article" [ngStyle]="{'background-color': article.isOnSale ? 'transparet' : 'rgb(255 173 154)'}">
                    <div class="row">
                        <img src={{article.imageUrl}} style="width: 20vw;">
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>{{article.name}}</label>
                        </div>
                        <div class="col">
                            <label [ngClass]="article.isOnSale ? '' : 'outOfStock'">{{article.price}}</label>
                        </div>
                    </div>
                    <div *ngIf="article.isOnSale" class="row buttons">
                        <div class="col">
                            <button class="decrease" [disabled]="article.quantityInCart <= 0 ? true : false" (click)="article.decreaseCart()">-</button>
                        </div>
                        <div class="col">
                            {{article.quantityInCart}}
                        </div>
                        <div class="col">
                            <button class="increase" (click)="article.increaseCart()">+</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>

</html>